# =====================
# DATA (IGNORE OUTPUT FILES)
# =====================
analysis/**/*.csv
data/
logs/

# =====================
# PYTHON
# =====================
__pycache__/
*.pyc

# =====================
# IDE / EDITOR
# =====================
.vscode/
.idea/